<html ng-app="app">
<head> <link href="css/style.css" rel="stylesheet" type="text/css"> 
<script src="angular.min.js"></script>
</head>
<body background="#81e2b3" ><form name="userForm">
<div id="header" style="background-color: #e84012;">
    <h1 style="font-size: 35px;color: white ;"><font face="Arial">Online Exam Portal </font> </h1>
  </div>

<div id="login-page" class="row" align="left" style="display: table;margin: auto;">
    <div class="col s12 z-depth-4 card-panel" style="vertical-align:middle;height: 100%;margin-top:10%">
      <form class="login-form">
        <div class="row">
          <div class="input-field col s12 center">
            <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login">
            <p class="center login-form-text" ><font size="60px" color="#e84012" >Online Exam Login</font></p>
          </div>
        </div>
        <div class="row">
         <div class="input-field col s12" align="center">
           <label for="username"><font>Username:</font></label>
          <input id="username" type="text" ng-model="username">
          <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>

          
        </div>
        </div><br>
        <div class="row">
          <div class="input-field col s12" align="center">
           <label for="password"><font>Password :</font></label>
          <input id="password" type="password" ng-model="password">
          <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
          
        </div>
        </div><br>
        <div class="row" align="center">
          <div class="input-field col s12">
            &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input id="button" value="Login" type="submit" ng-disabled="userFrom.$invalid">
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 m6 l6" align="center">
            <p class="margin medium-small">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a ui-sref='register' href="#">Register Now!</a></p>
          </div>
          <div class="input-field col s6 m6 l6" align="center">
              <p class="margin right-align medium-small">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<a href="#">Forgot password ?</a></p>
          </div>
        </div>
      </form>
    </div>
  </div>

  </form></body>
 </html>